- fields = module.fields
- data = module.data
- user = module.user
- auth = module.auth
- view = module.view

- if ( module.single )
	- i = 0


- if ( module.actions.del && auth[view].actions.del )
	td.check
		img.on(src	= '/public/img/icon/checkbox_on.png')
		img.off(src	= '/public/img/icon/checkbox_off.png')

- for ( var j=0; j<module.order.length; j++ ) {
	- f = module.order[j]
	- field = fields.all[f]
	
	- if ( auth.fields[f] )
		- if ( fields.all[f].display.list )
			
			- datas = data[i][f]
			- param = field.param
			- type = param.type
			
			- files		 = ''
			- transform  = ''
			- detail 	 = ''
			- if ( field.param.detail )
				- detail = field.param.detail
			
			
			
			- if ( type == 'file' )
				- transform = param.file.media
				- val = ''
				- files = ''
				- for ( var k=0; k<datas.length; k++ ) {
					- files = files + datas[k].name
					- val = val + datas[k].title
					- if ( k < datas.length-1 )
						val = val + '/'
						files = files + '/'
				- }
			
			- else if ( type == 'checkbox' )
				- val = ''
				- for ( var k=0; k<datas.length; k++ ) {
					val = val + param.value.values[datas[k]]
					- if ( k < datas.length-1 )
						val = val + '/'
				- }
				
			- else if ( type == 'radio' || type == 'select' )
				- val = param.value.values[datas]
				
				- if ( param.toggle ) 
					- transform = 'toggle'
			
			- else if ( param.autocomplete )
				- if ( param.value.embedded )
					- val = param.value.values[datas] ? param.value.values[datas] : datas
				- else
					- val = datas
				
			- else
				- val = datas
			
			
			- displayedValue = val
			- if ( val ) 
				- displayedValue = val.substr(0, field.display.maxLength )
				- if ( val.length > field.display.maxLength ) 
					- displayedValue = displayedValue + '...'
			
			
			td.value(
				title			= '#{val}'
				data-field		= '#{f}'
				data-value		= '#{datas}'
				data-fullvalue	= '#{val}'
				data-detail		= '#{detail}'
				data-transform	= '#{transform}'
				data-files		= '#{files}'
			)
				
				| #{displayedValue}
- }


- if ( module.actions.mod && auth[view].actions.mod  )
	td.option.mod
		img.dflt(src='/public/img/icon/mod.png')