doctype 5
html
	head
		title NodeJS
		
		- for (var i = 0; i < css.length; ++i) {
			link(rel='stylesheet/less', type='text-css', href='/public/css/#{css[i]}.less')
		- }
		link(rel='stylesheet/less', type='text-css', href='/public/library/jquery-ui/jquery-ui.css')
		- if (main.template == 'back')
			link(rel='stylesheet/less', type='text-css', href='/public/library/colorpicker/colorpicker.css')
			link(rel='stylesheet', href='/public/library/fancybox/jquery.fancybox.css?v=2.1.4', type='text/css', media='screen')
			link(rel='stylesheet', href='/public/library/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5', type='text/css', media='screen')
			link(rel='stylesheet', href='/public/library/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5', type='text/css', media='screen')
			link(rel='stylesheet', href='/public/library/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7', type='text/css', media='screen')
			
			
		script(type='text/javascript', src='/socket.io/socket.io.js')
		
	body(data-office='#{main.template}')
		div!= partial('layout/'+main.template+'.jade')
			div#connexion!= partial('modules/connection.jade')
		
		script(type='text/javascript', src='/public/js/library/jquery.js')
		script(type='text/javascript', src='/public/library/jquery-ui/jquery-ui.js')
		script(type='text/javascript', src='/public/js/library/mustache.js')
		script(type='text/javascript', src='/public/js/library/underscore.js')
		script(type='text/javascript', src='/public/js/library/less.js')
		
		- if (main.template == 'back')
			script(type='text/javascript', src='/public/js/back/module.js')
			script(type='text/javascript', src='/public/js/back/autocomplete.js')
			script(type='text/javascript', src='/public/js/back/upload.js')
			script(type='text/javascript', src='/public/library/colorpicker/colorpicker.js')
			script(type='text/javascript', src='/public/library/tinymce/jscripts/tiny_mce/tiny_mce.js')
			script(type='text/javascript', src='/public/library/ckeditor/ckeditor.js')
			script(type='text/javascript', src='/public/library/fancybox/jquery.fancybox.pack.js?v=2.1.4')
			script(type='text/javascript', src='/public/library/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5')
			script(type='text/javascript', src='/public/library/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5')
			script(type='text/javascript', src='/public/library/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7')
			
		script(type='text/javascript', src='/public/js/main.js')
		- for (var i = 0; i < js.length; ++i) {
			script(type='text/javascript', src='/public/js/#{js[i]}.js')
		- }