#accueil
	h1 Les jeux disponibles
	
	.bloc
		h2 Jeux solo
		.games
			ul
				- for ( i in main.jeux ) {
					li(data-href='/jeu/#{main.jeux[i].nom}') 
						div.titre
							a(href='/jeu/#{main.jeux[i].nom}') 
								| #{main.jeux[i].titre}
						div.img
							img(src='/public/jeux/#{main.jeux[i].nom}/logo.png', title='#{main.jeux[i].titre}')
				- }
	
			
	.bloc
		h2 Jeux multijoueurs
		.games	
			ul
			
			
	br
	br
	
	.upload
		.header
			.field
				input(
					type='file'
				)
				.btn
					img(src='/public/img/icon/drive-upload.png')
					| Parcourir
				input.export(type='text')
			
			.feedback(data-statut='default')
		
		
		table.uploads
			tr.tpl.file
				td.title
					.name
						.img
							img
						.txt
						
				td.progress
					.bar
						.percent
						.inner
				td.size
				td.option.del(title='Supprimer ce fichier')
					img.cancel(src='/public/img/icon/cancel.png')
					img.del(src='/public/img/icon/del.png')
				td.option.mod(title='Modifier les informations de ce fichier')
					img(src='/public/img/icon/mod.png')
			
			tr.tpl.form
				td
					| Titre du fichier :
				td
					input.field(
						type		= 'text'
						name 		= 'title'
						value		= ''
						placeholder = ''
					)
				td
				td.option.cancel(title='Annuler les modifications')
					img(src='/public/img/icon/cancel.png')
				td.option.save(title='Sauvegarder les modifications')
					img.save(src='/public/img/icon/save.png')
					
						
						
						